.container {
	width: 300px;
	height: 420px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas: "display display display display"
						 ". . . ."
						 ". . . ."
						 ". . . ."
						 ". . . ."
						 ". dot dot .";
	margin: 0 auto;
	margin-top: 8%;
	background: black;
	color: #e8e8e8;
}

.display{
	grid-area: display;
}

.result_display {
	text-align: right;
	margin-right: 5%;
	padding-top: 5%;
}

.dot{
	grid-area: dot;
	text-align: left;
	padding-left: 40px;
}

.item {
	border: 0;
	background: inherit;
	color: inherit;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.btn{
	outline: none;
	cursor: pointer;
}

.btn:hover{
	border: 1px solid #e8e8e8;
}

.fas {
	color: inherit;
	font-size: 15px;
}

.fa-circle {
	font-size: 5px;
}

